.row{
    margin:5px;
    padding:5px;
}

.container{
    margin:5px;
    padding:5px;
    max-width:95%;
}

.custom-select{
    min-width:90%;
    max-width:95%;
}

body, div, strong {
    font-family: 'Dosis', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
  }